.image-background {
  background-image: repeating-linear-gradient(to bottom right, black 20%, #1C1C1C 70%);
  background-color: black;
}

.container-apresentation {
  height: 600px;
}

.container-all {
  margin-top: 40px; 
}

.moove-logo {
  width: 100%;
  margin-bottom: 40px;
}

.umic-name {
  font-family: 'arcade-classic';
  font-weight: 400;
  color: #70FBCA;
}

.text-landing {
  border: 2px solid #FF0080;
}

.under-logo {
  font-family: 'Inter';
  color: #70FBCA;
  text-align: center;
  margin-top: 1rem;
  font-size: 23px;
}

.border-container {
  height: 100px;
}