.image-background {
  background-image: repeating-linear-gradient(
    to bottom right,
    black 20%,
    #1c1c1c 70%
  );
  background-color: black;
}

.container-apresentation {
  height: 600px;
}

.container-all {
  margin-top: 40px;
}

.moove-logo {
  width: 100%;
  margin-bottom: 40px;
}

.umic-name {
  font-family: "arcade-classic";
  font-weight: 400;
  color: #70fbca;
}

.text-landing {
  border: 2px solid #ff0080;
}

.under-logo {
  font-family: "Inter";
  color: #70fbca;
  text-align: center;
  margin-top: 1rem;
  font-size: 23px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-container {
  height: 100px;
}
