.slogan-container {
  padding: 50px;
  background-image: repeating-linear-gradient(#70fbca, black);
}

.slogan-moove {
  padding: 40px 0 40px 0;
  border-radius: 50px;
  border: 10px double #70fbca;
  box-shadow: 0 0 45px black;
  background-color: black;
  color: #70fbca;
}

.slogan-text {
  font-size: 20px;
}
