@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: arcade-classic;
  src: url("../assets/fonts/ARCADECLASSIC.TTF");
}

body {
  margin: 0;
  outline: 0;
  color: #fbfbfb;
  background-color: #222;
  font-family: "VT323", sans-serif;
  -webkit-font-smoothing: antialiased;
}

section {
  padding: 2rem 0;
}

.button-content {
  font-family: "Press Start 2P";
  color: black;
  font-size: 25px;
}

.button-landing {
  background-color: #ea9200;
  transition: box-shadow 0.2s;
  outline-style: none;
  margin-top: 30px;
  padding: 8px;
  border-radius: 10px;
  border: 0px solid gray;
  outline: none;
}

.button-landing:hover {
  box-shadow: 0 0 20px #0098b0;
  outline: none;
}

.text-landing {
  border: 2px solid #ff0080;
}

.landing-container {
  background-color: black;
  border-radius: 50px;
  border: 10px solid #70fbca;
  width: 100%;
  padding-bottom: 50px;
}

.title-container {
  margin-top: 60px;
}

.title-style {
  font-family: "arcade-classic";
  color: #00ff00;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insta-icon {
  margin-right: 10px;
}

/* Text */

.font-start {
  font-family: "Press Start 2P", sans-serif;
}

.font-vt {
  font-family: "VT323", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", sans-serif;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
}

small,
.text_small {
  font-size: 1rem;
}

label {
  font-size: 2rem;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 2rem;
}

@media (max-width: 737px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1.4rem;
  }
  a {
    font-size: 1.2rem;
  }
  label {
    font-size: 1.4rem;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    font-size: 1.2rem;
  }
  small,
  .text_small {
    font-size: 0.8rem;
  }
}

/* Input */

.nes-input,
.nes-textarea {
  padding: 0.2rem 1rem;
}

/* Buttons */

.nes-btn:disabled,
button:disabled {
  color: #212529;
  cursor: not-allowed;
  background-color: #d3d3d3;
  box-shadow: inset -4px -4px #adafbc;
  opacity: 0.6;
}

/* Paging */

.main-wrapper {
  min-height: 100vh;
  padding: 2rem 0;
}

/* Accordion */
.card {
  color: #222;
  font-family: "Press Start 2P", sans-serif;
  border: none;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: none;
}

.watched-item {
  background-color: #00ff00;
}

/* Card */
.card-training {
  position: relative;
  padding: 0;
  padding-top: 56.25%;
  background-color: #333333;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.game-container {
  border-radius: 10px;
  border: 5px solid #0098b0;
  padding: 50px;
  box-shadow: 0 0 8px #0098b0;
}

.input-label {
  display: flex;
  margin-left: 5px;
}

.training {
  border-radius: 10px;
  border: 5px solid #0098b0;
  padding: 20px;
  box-shadow: 0 0 8px #0098b0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.training h1 {
  font-size: 40px;
  box-shadow: 0px 6px 5px 0px #0098b0;
  text-shadow: 0 2px 10px #0098b0;
}

.welcome p {
  font-size: 25px;
}
